

div.tiy{
    text-align: right;
    height: 50px;
}

div.tiy > a{
    background-color: rgb(51, 118, 153);
    padding: 10px;
    font-size: 20px;
    font-family: arial;
    text-decoration: none;
    color: white;
}